

.App{
    background-color: #ffffff;
  }
  .Nav{
    background: #F5F5F5;
    padding: 5px;
    border: 1px solid #fdfdfd;;
  }
  .Ban{
    background: #F5F5F5;
    padding: 5px;
    border: 1px solid rgb(253, 253, 253);;
  }
  .mbox{
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-content: stretch;
  }
  .Fot{
    padding: 3px;
    background: #F5F5F5;
  }
  .item{
  
    justify-content: center;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    padding: 10px;
    background: #F5EFE6;
  
    width: 700px;
    height: 800px;
    text-align: center;
  }
  
  .cal{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  
    margin-top: 30px;
  
    padding: 10px;
    
    background-color: rgb(242, 234, 211);
    height: 800px;
    width: 100px;
    text-align: center;
  
  }
  
  